{% extends "base.html" %}

{% block content %}
  <form action = "/blog" method ="post","get">    
  
{# main title header  #}
    <h1>It's the good, the bad, and the ugly cat at the Ranch</h1>
{# a redirect blog title and then a blog entry #}
    <hr/>
    <ul>
    {% for blog in blogs %}
    <li>
    <h2>
        <form method = "get" action = "/?blog_id={0}.format(blog.id)" name="blog_url">     
         
        <a href = "/blog?id={{blog.id}}">{{blog.blog_title}}</a>
    </h2> 
        <form method = "POST" action = "/show_individual_blog">
        <h3>{{blog.blog_entry}}</h3>
        <input type = "hidden" name = "blog-id" value = "{{blog.id}}"/>
    </li> 
    </ul>
    </form>
    {% endfor %}         
{% endblock %}