{% extends "base.html" %}

{% block content %}
  <form action = "/blog" method ="post","get">    
  
{# main title header  #}
    <h1>It's the good, the bad, and the ugly cat at the Ranch</h1>
{# a redirect blog title and then a blog entry #}
    <hr/>
    <ul>
    {% for blog in blogs %}
    <li>
    <h2>
        <form method = "get" action = "/?id={0}.format(blog.id)" value="/?blog_id={0}">     
         
        <a href = "/show_individual_blog?id={{blog.id}}">{{blog.blog_title}}</a>
    </h2> 
        <form method = "get">
        <h3>{{blog.blog_entry}}</h3>
     
    <h5>
        <form method = "get">
        <p>written by <a href  = "/blog?user={{blog.owner.username}}">{{blog.owner.username}}</a></p>
    </h5>
    </li> 
    </ul>
    </form>
    {% endfor %}      
{% endblock %}"