{% extends "base.html" %}

{% block content %}

{# main title header  #}
    <h1>There's been tons going on at the ranch, let's talk about it.</h1>
{# blog entry header and text box #}
    <form action="/newpost" method="post","get">
        <label>
            What event did you want to talk about?
            <input type="text" value='{{blog_title}}' name='blog_title'/>
        
        </label>
        <p class = "error" style="display:inline-block;">{{blog_title_error}}</p>
        </br>
        <label>
            Tell us about it:
            <textarea type="text" name='blog_entry' value = '{{blog_entry}}' rows="8" cols="20"/></textarea>
    
        </label>
        <p class = "error" style="display:inline-block;">{{blog_entry_error}}</p>
        </br>
        <input type="submit" value='Add Entry'/>

    </form>

    <hr />

{% endblock %}